<% content_for :title, "Contact models" %>

<section class="py-5 mt-5">
<div class="container">
    <h2 class="display-4 text-center fw-bold mb-5 gradient-text">Pending Messages</h2>
    <div class="card p-4">
        <div class="table-responsive">
              <table id="contact_models" class="table table-striped">
        <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Message</th>
        <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @contact_models.each do |contact_model| %>
        <tr>
        <th scope="row"><%= contact_model.name %></th>
        <td><%= contact_model.email %></td>
        <td><%= contact_model.message %></td>
        <td><%= link_to "Show Details", contact_model, class:"btn btn-primary btn-sm" %></td>
        </tr>
        <% end %>
        </tbody>
</table>

</div>
    </div>
</div>
</section>
