<main class="container mt-5 pt-5">
        <div class="about-section">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">About Me</h2>
                    <p>Majid is a backend developer with over 4 years of experience in Python web frameworks like Django, Django-Rest, Flask, and FastAPI. I specialize in building APIs, automation scripts, and database-driven systems. Experienced in microservices, RESTful architecture, and system integrations, I also have a solid grasp of Linux and deployment workflows.</p>
                    <p>Passionate about learning and mentoring, I thrive on creating impactful solutions and collaborating with teams.</p>
                    <div class="mt-4">
                        <h3>Skills</h3>
                        <div class="skill-bars">
                            <div class="skill">
                                <span>HTML/CSS</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 95%"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <span>JavaScript</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <span>React</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://abdul12majid.pythonanywhere.com/static/portfolio/imgs/am.jpeg" alt="Profile" class="img-fluid rounded shadow">
                </div>
            </div>
        </div>
    </main>