<header class="hero">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="display-1 text-white">Welcome to My Portfolio</h1>
                    <p class="lead text-white">Full-Stack Developer & Designer</p></br>
                    <a href="projects.html" class="btn btn-primary btn-lg">View My Work</a>
                </div>
            </div>
        </div>
    </header>