<header class="min-vh-100 d-flex align-items-center">
        <div class="container text-center">
            <h1 class="display-1 fw-bold mb-4 gradient-text">Abdul Majid</h1>
            <p class="fs-3 text-light mb-4">Software Developer</p>
            <%= link_to "Get in Touch", new_contact_model_path, class:"btn gradient-button text-white px-4 py-2 rounded-pill" %>
        </div>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card text-white h-100 p-4">
                        <i class="fas fa-code fa-3x mb-3 gradient-text"></i>
                        <h3 class="fs-4 fw-bold gradient-text">Backend Development</h3>
                        <p class="text-white">Creating responsive and modern web applications using the latest technologies.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white h-100 p-4">
                        <i class="fas fa-mobile-alt fa-3x mb-3 gradient-text"></i>
                        <h3 class="fs-4 fw-bold gradient-text">Bot/Automation</h3>
                        <p class="text-white">Bots to help with the boring stuff.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white h-100 p-4">
                        <i class="fas fa-server fa-3x mb-3 gradient-text"></i>
                        <h3 class="fs-4 fw-bold gradient-text">API Develpment</h3>
                        <p class="text-white">Well designed and developed API, suitable for use by other applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>