<section class="py-5 mt-5">
        <div class="container">
            <h2 class="display-4 text-center fw-bold mb-5 gradient-text">My Projects</h2>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img src="https://abdul12majid.pythonanywhere.com/static/portfolio/imgs/dev_resources.webp" class="card-img-top" alt="Project 1">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-bold text-white mb-3">Dev Resources</h5>
                            <p class="card-text text-white mb-3">A platform that aggregates coding tutorials, courses, documentation, and open-source projects from various sources (e.g., GitHub, Stack Overflow, or documentation sites). Allow developers to filter resources by programming language, difficulty, and project type, and include an API so others can integrate this data into their apps.</p>
                            <div class="text-white d-flex flex-wrap gap-2 mb-4">
                                <span class="tag gradient-text">Python</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Django</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">DRF</span>&nbsp;&nbsp;
                            </div>
                            <a href="https://github.com/Abdul12majid/dev_resources.git" class="btn gradient-button text-white rounded-pill px-4">View Project</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img src="https://abdul12majid.pythonanywhere.com/static/portfolio/imgs/celery_task.webp" class="card-img-top" alt="Project 2">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-bold text-white mb-3">Task Management App</h5>
                            <p class="card-text text-white mb-3">A platform where users and teams can manage distributed tasks, set priorities, assign workers, track progress, and handle automation of repetitive tasks. The system supports real-time updates, complex workflows, and integration with external APIs for notifications and file management.</p>
                            <div class="text-white d-flex flex-wrap gap-2 mb-4">
                                <span class="tag gradient-text">Python</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Django</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Redis</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">DRF</span>&nbsp;&nbsp;
                            </div>
                            <a href="https://github.com/Abdul12majid/celery_task_management.git" class="btn gradient-button text-white rounded-pill px-4">View Project</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img src="https://abdul12majid.pythonanywhere.com/static/portfolio/imgs/microservices.webp" class="card-img-top" alt="Project 3">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-bold text-white mb-3">Microservice Blog</h5>
                            <p class="card-text text-white mb-3">A blog platform with separate microservices for users, posts, comments, and search that communicates with each other via REST...leveraging Django, DRF, and Redis.</p>
                            <div class="text-white d-flex flex-wrap gap-2 mb-4">
                                <span class="tag gradient-text">Python</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Django</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Redis</span>&nbsp;&nbsp;
                            </div>
                            <a href="https://github.com/Abdul12majid/microservice_blog.git" class="btn gradient-button text-white rounded-pill px-4">View Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img src="https://th.bing.com/th/id/OIP.IvBEWI_Kbj66YL5KXsM8kwHaE7?pid=ImgDet&w=177&h=118&c=7&dpr=1.3" class="card-img-top" alt="Project 4">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-bold text-white mb-3">Fintech Clone</h5>
                            <p class="card-text text-white mb-3">A Django-based web application that mimics the functionality of a basic fintech platform. It includes models for user wallets, transaction types, and transactions, with features such as wallet creation, transaction processing, and balance management. The project leverages Django’s ORM for handling database operations.</p>
                            <div class="text-white d-flex flex-wrap gap-2 mb-4">
                                <span class="tag gradient-text">Python</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Django</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">DRF</span>&nbsp;&nbsp;
                            </div>
                            <a href="https://github.com/Abdul12majid/fintech_clone.git" class="btn gradient-button text-white rounded-pill px-4">View Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img src="https://abdul12majid.pythonanywhere.com/static/portfolio/imgs/blog.jpg" class="card-img-top" alt="Project 5">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-bold text-white mb-3">X-BLog</h5>
                            <p class="card-text text-white mb-3">A blog app with twitter-like functionalities - follow/unfollow, add to/remove from bookmarks... Leveraging Django, Alpine-Js, HTMX, Tailwind and Bootstrap.</p>
                            <div class="text-white d-flex flex-wrap gap-2 mb-4">
                                <span class="tag gradient-text">Python</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Django</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Bootstrap</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Alpine Js</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">Tailwind CSS</span>&nbsp;&nbsp;
                                <span class="tag gradient-text">HTMX</span>&nbsp;&nbsp;
                            </div>
                            <a href="https://github.com/Abdul12majid/my_blog.git" class="btn gradient-button text-white rounded-pill px-4">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>